@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-text: 25 29 35;
    --auxiliary-text: 99 116 140;
    --page-bg: 255 255 255;
    --components-bg: 247 248 249;
    --stroke: 231 234 238;
    --input-bg: 255 255 255;
    --accent-green: 6 78 59;
    --accent-red: 153 27 27;
    --accent-light-red: 254 242 242;
    --accent-light-green: 236 253 245;
    --white: 255 255 255;
  }

  [data-theme='dark']:root {
    --main-text: 255 255 255;
    --auxiliary-text: 155 162 171;
    --page-bg: 24 43 60;
    --components-bg: 38 60 79;
    --stroke: 52 70 85;
    --input-bg: 28 51 71;
    --accent-green: 6 78 59;
    --accent-red: 153 27 27;
    --accent-light-red: 255 255 255;
    --accent-light-green: 255 255 255;

  }
}

.page {
  @apply max-w-[1240px] m-auto min-h-screen flex flex-col py-12 box-border bg-page-bg
}

.page__container {
  @apply w-full mx-auto px-8 box-border
}

.main {
  @apply flex-1
}